<!DOCTYPE html>
<html>
<head>
<link rel="resume home" type="text/css" href="style.css">

<link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <style>
            .header {
  padding: 80px; 
  text-align: center; 
  background: #fdb0c0; 
  color:white; 
}